.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 2rem;
}
nav .user-nav-label{
  color: #cccccc;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffcc00;
}

/*STYLES*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.form-div {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-div h2 {
  text-align: center;
  margin-bottom: 40px;
}

.form-div h5 {
  text-align: center;
}

.form-div div {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-right: 10px;
}

.form-div div label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
}

.form-div div input {
  flex: 1;
  min-width: 200px;
  width: calc(100% - 120px);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  padding: 8px 40px;
  font-size: 16px;
  margin-top: 10px;
  background-color: black;
  color: #cccccc;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.notification-success {
  background-color: #78b060;
  color:#ffffff;
  padding: 2rem;
  border: 1px solid #6AA84F;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}

.notification-error {
  background-color: #ffbaba;
  color: #c3352b;
  padding: 2rem;
  border: 1px solid #f44336;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}

.notification-question {
  background-color: #efd6bd;
  color: #cc8259;
  padding: 2rem;
  border: 1px solid #cc8259;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}

.close-btn-success {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  color: #666666;
  font-size: 1.5rem;
  cursor: pointer;
}

.logout-link{
  color:darkblue;
  margin-left: 12px;

}

.landing-page-header{
  background-color: #64ac5b;
  color: #fcfdfc;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
}

.landing-page-container{
  width: 80%;
  margin: 24px auto;
  text-align: left;
}

.l-p-container{
  padding-bottom:60px;

}
.landing-page-subtitle{
  text-align: left;
}
.landing-page-subtitle hr{
  border: 1px solid #64ac5b;
}

.landing-page-topics{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.landing-page-topic{
  padding: 12px;
  max-width: 100px;
}
footer {
  position: fixed;
  width: 80%;
  bottom: 0;
  padding-bottom: 24px;
  height: 40px;
  text-align: center;
}
footer hr{
  border: 1px solid #cccccc;
}
